@model _123.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
    Layout = "_Global";
}

<head>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Register.css" />
</head>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error inesperado.</h2>
