@model _123.Dtos.ProductoDto
@{
    Layout = "_ARegular";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div class="container text-center my-5">
        <h1>Bienvenido a Potencia PC</h1>
        <p class="lead mt-4">
            Descubre nuestros productos y servicios exclusivos.
        </p>

        <p>
            Observa todo lo que quieras y compartir cualquier productos que necesites
        </p>

    </div>
</body>
