@model _123.Dtos.LoginDto

@{
    ViewData["Title"] = "Index";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<h2>Login</h2>



<form asp-action="Login" method="post">
    <div>
        <label>Correo</label>
        <input asp-for="Correo" />
        <span asp-validation-for="Correo"></span>
    </div>
    <div>
        <label>Clave</label>
        <input asp-for="Clave" type="password" />
        <span asp-validation-for="Clave"></span>
    </div>
    <button type="submit">Ingresar</button>
</form>

<a asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
