@model _123.Dtos.ProductoDto
@{
    Layout = "_Manager";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div class="container text-center my-5">
        <h1>Bienvenido a Potencia PC</h1>
        <p class="lead mt-4">
            Bienvenido Manager
        </p>

    </div>
</body>
