@model _123.Dtos.LoginDto

@{
    ViewData["Title"] = "Acceso Denegado";
}

<h2>Acceso Denegado</h2>
<p>No tienes permiso para ver esta página.</p>
<a asp-controller="Usuario" asp-action="Login">Volver al inicio de sesión</a>
