@model _123.Dtos.ProductoDto

@{
    Layout = "_Administrador";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Register.css" />
</head>

<body>
    <div class="container text-center my-5">
        <h1>Bienvenido a Potencia PC</h1>
        <p class="lead mt-4">
            Bienvenido Administrador
        </p>

    </div>
</body>
