@{
    Layout = "_Global";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<h2>Instrucciones Enviadas</h2>
<p>Se han enviado instrucciones para restablecer tu contraseña a tu correo electrónico.</p>
