@model _123.Dtos.LoginDto
@{
    Layout = "_Global";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div class="container text-center my-5">
        <h1>Bienvenido a Potencia PC</h1>
        <p class="lead mt-4">
            Si quieres Descargar algun Producto debes crear una cuenta e ingresar
        </p>


    </div>
</body>
