@model _123.Dtos.LoginDto

@{
    Layout = "_Global";
}

<head>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Register.css" />
</head>

<body>

    <div class="login-container">

        <h2>Iniciar Sesión</h2>

        <form asp-action="Login" method="post" class="login-form">
            <div class="form-group">
                <label for="correo">Correo</label>
                <input asp-for="Correo" id="correo" class="input-field" />
                <span asp-validation-for="Correo" class="error-message"></span>
            </div>

            <div class="form-group">
                <label for="clave">Clave</label>
                <input asp-for="Clave" id="clave" class="input-field" type="password" />
                <span asp-validation-for="Clave" class="error-message"></span>
            </div>

            <button type="submit" class="submit-btn">Iniciar Sesión</button>
        </form>

        <a asp-action="ForgotPassword" class="forgot-link">¿Olvidaste tu contraseña?</a>
        <a asp-action="Register" class="forgot-link">Crear nueva cuenta</a>
</body>


