@model IEnumerable<_123.Dtos.ProductoDto>
@{
    Layout = "_Global";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<h2>Lista de Productos</h2>
<ul>
    @foreach (var producto in Model)
    {
        <li>
            <strong>@producto.Nombre</strong> - Precio: $@producto.Precio

            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("DescargarProducto", "Producto", new { id = producto.Id })" class="btn btn-primary">
                    Descargar Archivo
                </a>
            }
            else
            {
                <span class="text-danger">(Inicia sesión para descargar.)</span>
            }
        </li>
    }
</ul>
