@model _123.Dtos.RestablecerClaveDto
@{
    Layout = "_Global";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<h2>Restablecer Contraseña</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Correo" />
    <input type="hidden" asp-for="Token" />
    <div>
        <label>Nueva Clave</label>
        <input asp-for="NuevaClave" type="password" />
        <span asp-validation-for="NuevaClave"></span>
    </div>
    <div>
        <label>Confirmar Nueva Clave</label>
        <input asp-for="ConfirmarNuevaClave" type="password" />
        <span asp-validation-for="ConfirmarNuevaClave"></span>
    </div>
    <button type="submit">Restablecer Contraseña</button>
</form>
